* {
  --space-cadet: #22223bff;
  --independence: #4a4e69ff;
  --heliotrope-gray: #9a8c98ff;
  --silver-pink: #c9ada7ff;
  --isabelline: #f2e9e4ff;

  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f8edebff;
  margin-top: 0;
  padding: 0;
}

/* style for nav */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #22223bff;
  color: white;
}

.name {
  font-size: 1.5rem;
  margin: 2rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}
.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #4a4e69ff;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
}

/* about me section */

.head-shot {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  transition: 200ms transform ease-in-out;
}

.head-shot:hover {
  transform: scale(1.025);
}

.about-me {
  background-color: #f2e9e4ff;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  text-align: center;
}
/* Project section */
.project-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
.img.card-image {
  padding: 0;
  overflow: hidden;
}
.img.card-image > img {
  display: block;
  width: 100%;
  max-height: 200px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
}
.project-card {
  background-color: #4a4e69ff;
  --padding: 1rem;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  overflow: hidden;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.card-body {
  font-size: 0.9rem;
}
.card-footer {
  margin-top: 1rem;
}

.btn {
  background: #22223bff;
  color: white;
  border: #22223bff;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 25rem;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background: hsl(200, 50%, 60%);
}

.btn.btn-outline {
  background: none;
  border: 1px solid var(--color);
  color: var(--color);
}

.btn.btn-outline:hover,
.btn.btn-outline:focus {
  background: hsl(200, 50%, 90%);
}

.btn + .btn {
  margin-left: 0.25rem;
}

/* project cards images */
.card-img {
  overflow: hidden;
  padding: var(--padding);
  padding: 0;
}

.card-img > img {
  display: block;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
  transition: 200ms transform ease-in-out;
}

.project-card:hover > .card-img > img {
  transform: scale(1.025);
}

/* project one card  */

.project-one-card {
  background-color: #4a4e69ff;
  --padding: 1rem;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  overflow: hidden;
  width: 750px;
  object-position: center;
}

.pro-one-card-img > img {
  display: block;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: fill;
  object-position: center;
  transition: 200ms transform ease-in-out;
}
.project-one-card:hover > .pro-one-card-img > img {
  transform: scale(1.025);
}

.gitInfoIcon {
  margin-left: 50%;
  margin-right: 50%;
}

.emailInfoIcon {
  margin-left: 45%;
  margin-right: 55%;
}
