* {
  box-sizing: border-box;
  --ash-gray: #cad2c5ff;
  --dark-sea-green: #84a98cff;
  --hookers-green: #52796fff;
  --dark-slate-gray: #354f52ff;
  --charcoal: #2f3e46ff;
}

.body {
  margin: 10px;
  font-family: "Noto Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #84a98cff;
}

/* --navigation bar */
.nav-box {
  display: flex;
  flex-direction: row;
  background-color: #84a98cff;
}

.about-div {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.about-me {
  text-align: center;
}

.projects-div {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.projects {
  text-align: center;
}

.contact-div {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.contact {
  text-align: right;
}
/* --about me section */

.about-me-section {
  background-color: #cad2c5ff;
  display: flex;
  flex-direction: column;
}

.portfolio-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 20%;
}
.name {
  font-style: Noto Sans;
  font-size: x-large;
  text-align: center;
}
.about-me-info {
  font-size: medium;
  text-align: center;
}

.skills {
  font-size: x-large;
  text-align: center;
}
/* --project section */
.projects-section {
  background-color: #52796fff;
}

/* project cards */
body,
html {
  font-family: "Vollkorn", serif;
  font-weight: 400;
  line-height: 1.3;
  font-size: 16px;
  background-color: #84a98cff;
}

.project-section {
  display: block;
  font-weight: 900;
  font-size: 30px;
  margin: 20px 0;

  @include media {
    font-size: 60px;
  }
}

.card {
  height: 400px;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  border: 4px solid #2f3e46ff;
  margin-bottom: 20px;
  background-size: cover;


  }
}

.project-card {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  box-sizing: border-box;
  padding: 40px;

  
  }
}

.title {
  font-size: 24px;
  color: black;
  text-align: center;
  font-weight: 700;
  color: #181818;
  text-shadow: 0px 2px 2px #a6f8d5;
  position: relative;
  margin: 0 0 20px 0;

 
  }
}

.project-section {
  color: #2f3e46ff;
  text-align: center;
  
}

.card {
  background-image: url(https://images.unsplash.com/photo-1555949963-ff9fe0c870eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
}

.project-1 {
  height: 500px;
  width: 800px;
  position: relative;
  padding: 100px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  border: 4px solid #b0215e;
  margin-bottom: 50px;
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1555949963-ff9fe0c870eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
}

/* contact section */
.contact-section {
  background-color: #cad2c5ff;
  display: flex;
  flex-direction: column;
}
.contacts-title {
  text-align: center;
}
.contact-info-one {
}
