* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.nav-box {
  display: flex;
  flex-direction: row;
}

.name {
  font-style: oblique;
  font-size: x-large;
  text-align: center;
}
.project-section {
  display: flex;
  flex-direction: row;
}
